
<% include ./elem/header.ejs %>
<% include ./elem/nav.ejs %>

<!-- Page Content -->
 <div class="container">

   <!-- Page Header -->
   <div class="row">
     <div class="col-lg-12">
       <h1 class="page-header">Imperatrice</h1>
     </div>
   </div>
   <!-- /.row -->

   <!-- Content Row -->
   <div class="row">
     <% if (api1.length != 0) {
       for (var i=0 ; i < api1.movies.length ; i++) {
         var movie = api1.movies[i]; %>
         <div class="col-md-3">
           <div class="card hoverable">
              <div class="card-image">
                <img src="<%= movie.medium_cover_image %>">
                <h6 class="card-title"><span class="badge"><%= movie.rating %></span></h6>
              </div>
             <div class="card-content">
               <p> <%= movie.title_long %> </p>
               <% for (var j=0 ; j < movie.torrents.length ; j++) {
                  var torrent = movie.torrents[j]; %>
                  <b> <a href="<%= torrent.url %>"><%= torrent.quality %>  </a></b>
               <% } %>
             </div>
             <div class="card-action">
               <a href="/details?id=<%= api1.movies[i].id %>">
                 <button type="button" class="btn btn-warning waves-effect waves-light">Details</button>
               </a>
             </div>
           </div>
         </div>
    <% } %>
  <% } else { %>
      <p>Aucun films n'est présent dans cette catégorie</p>
  <% }  %>
</div>

<% include ./elem/footer.ejs %>
