
<% include ./elem/header.ejs %>
<h1 class="text-center">APIs <small>Utilisation de deux API</small></h1>

<div class="row">
  <div class="col-md-12">
    <form class="form-inline well well-sm col-md-10 col-md-offset-1" action="/APIs" method="get">
      <span class="glyphicon glyphicon-search" ></span >

      <div class="form-group" >
        <!-- <input type="text" name="type" class="form-control" id="name"
               placeholder="restaurant, bat etc..."
					/>
          <button class="btn btn-success" type="submit" name="button">Envoyer</button>-->
      </div>

      <div class="form-group" >
        <select class="form-control" name = "type" onchange="this.form.submit()">
          <option value="bar" selected>Selectionner un paramètre</option >
          <% for (var i=0 ; i < api2.genre.length ; i++) {
          <!-- var g = api2[i]; %> -->
          <option value="<%= %>" ><%= api2.genre[i] %></option>
          <% } %>

        </select >
      </div >
    </form>
  </div>
</div>
</div>

  <% for (var i=0 ; i < api1.movies.length ; i++) {
     var movie = api1.movies[i]; %>
  <div class="col-md-2">
    <img src="<%= movie.medium_cover_image %>" class="img-responsive" alt="Responsive image">
    <dl>
      <dt> <%= movie.title %> </dt>
      <dd> <%= movie.year %> </dd>

      <% for (var j=0 ; j < movie.torrents.length ; j++) {
         var torrent = movie.torrents[j]; %>
         <dd> <a href=" <%= torrent.url %>"><%= torrent.quality %></a> </dd>
      <% } %>

    </dl>
  </div>
  <% } %>




  <!-- <div class="table-responsive col-md-4">
    <table class="table table-striped table-bordered" >
    	<tr >
    		<th >Type </th >
    		<th >Wiki</th>
    		<th >Description</th>
    	</tr >

      <% for (var i=0 ; i < api2.length ; i++) {
      var el = api2[i]; %>
      <tr>
        <td><%= el.value %></td>
        <td><%= el.in_wiki %></td>
        <td><%= el.description %></td>
      </tr>
      <% } %>
    </table >
  </div> -->
</div>

<% include ./elem/footer.ejs %>
