<% include ./elem/header.ejs %>
<h1>API BITCHES !!</h1>
<div class="row">
  <div class="col-md-12">
    <form class="form-inline well well-sm col-md-10 col-md-offset-1" action="/servicesweb/overpass" method="get">
      <span class="glyphicon glyphicon-search" ></span >

      <div class="form-group" >
        <input type="text" name="type" class="form-control" id="name"
               placeholder="restaurant, bar etc..."
					/>
          <button class="btn btn-success" type="submit" name="button">Envoyer</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="table-responsive col-md-10 col-md-offset-1">
    <table class="table table-striped table-bordered" >
    	<tr>
    		<th> Nom <span class="badge"> <%= elements.length %> </span> </th>
    		<th> Type</th>
    		<th> Latitude</th>
    		<th> Longitude</th>
    	</tr>

      <% for (var i=0 ; i < elements.length ; i++) {
      var el = elements[i]; %>
      <tr>
        <td> <%= el.tags.name %></td>
        <td> <%= el.tags.amenity %></td>
        <td> <%= el.lat %></td>
        <td> <%= el.lon %></td>
      </tr>
      <% } %>

      <% if (elements.length == 0) { %>
      <tr class="info">
        <td>Aucun résultat pour votre recherche</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% } %>
    </table >
  </div>
</div>

<% include ./elem/footer.ejs %>
