<% include ./elem/header.ejs %>

<div class="container" background>
    <p> <%= elements.title_long %> <span class="label label-danger"><%= elements.rating %></span></p>
    <% for(i=0; i < elements.genres.length; i++) { %>
      <p> <%= elements.genres[i] %> </p>
    <% } %>

    <div class="row">
      <p> <%= elements.title_long %> </p>
      <div class="col-md-3">
        <img src="<%= elements.medium_cover_image %>">
      </div>

      <div class="col-md-9">
        <div class="card-panel grey darken-3">
          <span class="white-text">
              <%= elements.description_full %>
          </span>
        </div>
      </div>
    </div>
</div>


  <img src="<%= elements.background_image %>">



  <% for(j=0; j < elements.cast.length; j++) { %>
    <p> <%= elements.cast[j].name %> </p>
    <p> <%= elements.cast[j].character_name %> </p>
    <img src="<%= elements.cast[j].url_small_image %>">
  <% } %>

  <% for (var h=0 ; h < elements.torrents.length ; h++) { %>
     <b> <a href=" <%= elements.torrents[h].url %>"><%= elements.torrents[h].quality %> </a>  - peers: <%= elements.torrents[h].peers %> - seeds: <%= elements.torrents[h].seeds %> </b> <br/>
  <% } %>

</div>

<% include ./elem/footer.ejs %>
